.row h1 {
  color: rgb(138, 5, 116);
}

.row h1:hover {

  text-decoration: underline;
}

.cart-item {

  color: rgb(37, 37, 37) !important;
  padding-left: 1rem !important;
  margin: .2rem;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(165, 165, 165, 0.3);
  list-style: none;
  min-width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  cursor: pointer;
  padding-top: 1.5rem !important;
}

.cart-item:hover {
  font-weight: 400 !important;
  border: 1px solid rgb(221, 221, 221) !important;
  transform: translateZ(1px);
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.badge-pill {
  color: rgb(36, 34, 37) !important;
  background-color: rgb(204, 199, 191) !important;
  font-size: 15px;
}
.disabled-button {
  color: gray;
}