<div class="row" style="margin-top: 2rem; min-height: 30rem">
  <div class="col-sm-12 col-md-12 col-lg-8">
    <div class="card">
      <div class="card-body" style="min-height: 20rem">
        <div
          class="row cart-item"
          *ngFor="let productCart of productCarts; let i = index"
        >
          <div
            class="col-sm-12 col-md-12 col-lg-6"
            style="display: flex; flex-direction: row; justify-content: start"
          >
            <img class="avatar" src="{{ productCart?.product.images[0] }}" />
            <div style="margin-left: 1rem">
              <p class="mat-h4">
                {{ productCart.product.title }}
              </p>
              <p class="mat-body-2">{{ productCart.product.brand }}</p>
            </div>
          </div>
          <div class="col-2">
            <p class="mat-headline-7" style="color: red">
              ৳ {{ productCart.product.price }}
            </p>
            <p class="mat-headline-7" style="color: rgb(32, 104, 50)">
              ৳ {{ updatedPrice }}
            </p>
          </div>
          <div class="col-3">
            <div style="display: flex">
              <span
                ><button
                  mat-icon-button
                  color="primary"
                  (click)="addQuantity(productCart)"
                  [disabled]="productCart.product.quantity >= 5"
                  [ngClass]="{
                    'disabled-button': productCart.product.quantity >= 5
                  }"
                >
                  <mat-icon>add</mat-icon>
                </button></span
              >
              <span
                class="mat-body-1"
                style="padding: 12px; font-weight: 600"
                >{{ productCart.product.quantity }}</span
              >
              <span style="margin-left: 10px"
                ><button
                  mat-icon-button
                  color="primary"
                  (click)="removeQuantity(productCart)"
                  [disabled]="productCart.product.quantity < 2"
                  [ngClass]="{
                    'disabled-button': productCart.product.quantity < 2
                  }"
                >
                  <mat-icon>remove</mat-icon>
                </button></span
              >
            </div>
            <button
              style="margin-left: 2.2rem"
              type="button"
              mat-icon-button
              color="warn"
              (click)="removeCartItem(productCart.product.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <!-- <button (click)="onSubmit()" mat-raised-button color="primary">
            Submit
          </button> -->
          <!-- <div class="col-md-2">
            <button
              mat-raised-button
              type="button"
              color="primary"
              (click)="addIngredient()"
              style="background-color: teal"
            >
              <mat-icon>add</mat-icon> Ingredient
            </button>
          </div> -->
          <!-- <div style="float: right; margin-right: 3%">
            <button type="submit" mat-raised-button color="primary">
              Submit
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 checkout-summary">
    <div class="card">
      <div class="card-body">
        <p class="mat-headline-5">Checkout Summary</p>

        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Subtotal
            <span class="badge badge-primary badge-pill">{{ subTotal }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Shipping
            <span class="badge badge-primary badge-pill">{{ shipping }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Total
            <span class="badge badge-primary badge-pill"> {{ total }} </span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            style="font-weight: bold"
          >
            Payable Total
            <span class="badge badge-primary badge-pill">{{ total }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
